body {
    font-family: "Poppins", sans-serif;
    background-color: #faf5ff;
}
.material-symbols-outlined {
    font-size: inherit;
}
.navbar-toggler:focus {
    box-shadow: none;
    outline: 0;
}
.section-title {
    color: $purple950;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    &.mb-30 {
        margin-bottom: 30px;
    }
}
