#quiz {
    padding-top: 69px;
    padding-bottom: 156px;
    .content {
        width: 100%;
        max-width: 636px;
        margin: auto;
        .p-24 {
            padding: 24px;
            border-radius: 24px;
        }
        .head {
            background-color: $white;
            color: $purple950;
            font-size: 12px;
            .timer {
                font-family: "Roboto Mono", monospace;
                padding: 12px;
                position: relative;
                border-radius: 12px;
                overflow: hidden;
                background-color: #f9fafb;
                font-weight: 500;
                .success {
                    background-color: #bbf7d0;
                    border-radius: 12px;
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
                .time-text {
                    position: relative;
                    z-index: 2;
                    .time-remain {
                        display: flex;
                        align-items: center;
                        .material-symbols-outlined {
                            font-size: 15px;
                            margin-right: 6px;
                        }
                    }
                }
            }
            .title {
                font-size: 16px;
                font-weight: 700;
                margin: 12px 0;
                text-align: center;
            }
            .summery {
                display: flex;
                justify-content: center;
                .label {
                    color: $purple500;
                    font-weight: 400;
                }
                .value {
                    font-weight: 700;
                }
                .answered {
                    margin-left: 39px;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .body {
        background-color: $white;
    }
    #quiz {
        padding-top: 12px;
        padding-bottom: 30px;
        .content {
            .head {
                &.p-24 {
                    padding: 12px;
                }
                border: 1px solid #f3e8ff;
                .title {
                    display: none;
                }
                .summery {
                    margin-top: 12px;
                    .answered {
                        margin: 0 28px;
                    }
                }
            }
        }
    }
}
