#dashboard {
    padding-bottom: 286px;
    max-width: 710px;
    color: $white;
    margin: auto;
    .main-title {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        margin-top: 110px;
        margin-bottom: 48px;
    }
    .dashboard-content {
        border-radius: 24px;
        background: linear-gradient(326deg, rgba(250, 178, 255, 0.23) 0%, rgba(25, 4, 229, 0.23) 100%);
        box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(14px);
        padding: 48px;
        .timer {
            display: flex;
            align-items: center;
            justify-content: center;
            .time-indicator {
                display: flex;
                flex-direction: column;
                .digit {
                    font-size: 24px;
                    font-weight: 700;
                }
                .label {
                    font-size: 12px;
                    font-weight: 500;
                }
            }
            &.between {
                .colon {
                    margin: 0 48px;
                    .img {
                        width: 10px;
                    }
                }
            }
            .colon {
                margin: 0 24px;
                .img {
                    width: 10px;
                }
            }
        }
        .time-loader {
            margin-top: 36px;
            margin-bottom: 10px;
            .total-time {
                height: 3px;
                background: $black;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    height: 13px;
                    width: 13px;
                    background-color: $white;
                    border-radius: 50%;
                    border: 3px solid $primary;
                    right: 0;
                    z-index: 2;
                    top: -5px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    height: 13px;
                    width: 13px;
                    background-color: $white;
                    border-radius: 50%;
                    border: 3px solid $primary;
                    left: 0;
                    z-index: 2;
                    top: -5px;
                }
                .success {
                    height: 3px;
                    background: linear-gradient(161deg, #fab2ff 0%, #5746ff 45.83%, #c48eff 100%);
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        height: 13px;
                        width: 13px;
                        background-color: $white;
                        border-radius: 50%;
                        border: 3px solid $primary;
                        right: 0;
                        top: -5px;
                        z-index: 2;
                    }
                }
            }
        }

        .start-time {
            .digit {
                font-size: 16px;
                font-weight: 600;
            }
            .label {
                font-size: 12px;
                font-weight: 500;
            }
        }
        .start-btn {
            margin-top: 20px;
            .btn.start {
                color: $white;
                font-size: 12px;
                font-weight: 700;
                padding: 13px 15px;
                width: 100%;
                background-color: $black;
                border-radius: 12px;
                &:hover {
                    background-color: lighten($black, 3%);
                }
            }
        }
        .quiz-title {
            margin-top: 48px;
            display: grid;
            grid-template-columns: 48px 1fr;
            grid-gap: 24px;
            align-items: start;
            .icon {
                height: 48px;
                width: 48px;
                border-radius: 50%;
                background-color: $white;
                @include flexCenter;
                img {
                    height: 24px;
                    width: 24px;
                }
            }
            .title {
                margin: 0;
                font-size: 16px;
                font-weight: 600;
            }
            .name {
                font-size: 12px;
                font-weight: 500;
            }
            .quiz-summery {
                display: flex;
                padding-top: 24px;
                border-top: 1px dashed $white;
                margin-top: 24px;
                .digit {
                    font-size: 16px;
                    font-weight: 600;
                }
                .label {
                    font-size: 12px;
                    font-weight: 500;
                }
                .question {
                    margin: 0 48px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    #dashboard {
        padding-bottom: 52px;
        .main-title {
            font-size: 24px;
            margin-top: 48px;
            margin-bottom: 48px;
        }
        .dashboard-content {
            border: 2px solid rgba($white, 0.05);
            padding: 24px;
            .timer {
                &.between {
                    justify-content: space-between;

                    .colon {
                        margin: 0;
                    }
                }
            }

            .time-loader {
                margin-top: 24px;
            }

            .quiz-title {
                margin-top: 24px;
                grid-template-columns: 35px 1fr;
                grid-gap: 15px;
                .icon {
                    height: 35px;
                    width: 35px;
                    img {
                        height: 18px;
                        width: 18px;
                    }
                }
                .quiz-summery {
                    padding-top: 18px;
                    margin-top: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    #dashboard {
        .dashboard-content {
            .quiz-title {
                .quiz-summery {
                    justify-content: space-between;
                    .question {
                        margin: 0 15px;
                    }
                }
            }
        }
    }
}
